.catalog {
	margin-top: 70px;
	
	// .catalog__header

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 60px;
	}

	// .catalog__select

	&__select {
	}

	// .catalog__body

	&__body {
		display: flex;
		justify-content: space-between;
	}

	// .catalog__form

	&__form {
		flex: 0 0 210px;
	}

	// .catalog__content

	&__content {
		flex: 0 0 900px;
		// display: flex;
		margin: 0 -15px;
	}

	// .catalog__wrapper

	&__wrapper{
		display: flex;
	}

	// .catalog__item

	&__item {
		flex: 0 0 270px;
		display: flex;
		flex-direction: column;
		padding: 0 15px;
	}

	// .catalog__img

	&__img {
		display: block;

		img {
			border-radius: 6px 6px 0px 0px;
		}
	}

	// .catalog__inner

	&__inner {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 25px 19px;
	}

	// .catalog__link

	&__link {
		color: #1a212f;
	}

	// .catalog__list

	&__list {
		flex-grow: 1;
		// flex: 1 0 auto;
		margin: 20px 0 25px;
		font-size: 14px;

		li:not(:last-child) {
			margin-bottom: 15px;
		}

		span {
			display: inline-block;
			margin-left: 10px;
			font-size: 18px;
			font-weight: 500;
		}
	}
}
.icons {
	display: flex;

	// .icons__list

	&__list {
		display: flex;
		align-items: center;
		margin-left: 12px;
	}

	// .icons__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 8px;
		width: 16px;
		height: 16px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}
}
.form {

	// .form__body

	&__body {
	}

	// .form__item

	&__item {
		margin-bottom: 35px;
	}

	// .form__label

	&__label {
		font-weight: 500;
		margin-bottom: 20px;
	}

	// .form__wrapper

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	// .form__input

	&__input {
		padding: 7px 5px;
		width: 100px;
		height: 24px;
		border: 1px solid #E1E1E1;

		&:placeholder {
			font-size: 14px;
			color: #1A212F;
		}
	}

	// .form__btn

	&__btn {
		width: 185px;
		height: 42px;
		background: #FAC663;
		border-radius: 25px;
		font-size: 14px;
		font-weight: 600;
	}
}
.checkbox {

	// .checkbox__item

	&__item {
		margin-bottom: 15px;
	}

	// .checkbox__input

	&__input {
		margin-right: 10px;
	}

	// .checkbox__label

	&__label {
		font-size: 14px;
	}
}
