.contacts {
	display: flex;
	background: #FAC663;

	@media(max-width: $md2 + px) {
		flex-direction: column;
		align-items: center;
	}

	// .contacts__info

	&__info {
		flex: 0 1 568px;
		padding: 70px 90 / 1366 * 100% 70px 180 / 1366 * 100%;

		@media(max-width: 1366px) {
			padding: 70px 50px;
		}

		@media(max-width: $md2 + px) {
			flex-basis: auto;
		}

		@media(max-width: $md3 + px) {
			padding: 50px 15px;
		}

		@media(max-width: $md4 + px) {
			padding: 30px 15px;
		}
	}

	// .contacts__wrapper

	&__wrapper {
		margin-top: 50px;

		@media(max-width: $md3 + px) {
			margin-top: 30px;
		}
	}

	// .contacts__item

	&__item:not(:last-child) {
		margin-bottom: 35px;

		@media(max-width: $md3 + px) {
			margin-bottom: 25px;
		}
	}

	// .contacts__label

	&__label {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 16px;

		@media(max-width: $md3 + px) {
			margin-bottom: 10px;
		}
	}

	// .contacts__phone
	// .contacts__mail

	&__phone,
	&__mail {
		font-size: 16px;
		color: #1A212F;

		&:hover {
			text-decoration: underline;
		}
	}

	// .contacts__map

	&__map {
		flex: 1 1 798px;
		position: relative;
		padding-top: 580 / 1366 * 100%;
		width: 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media(max-width: $md2 + px) {
			flex-basis: auto;
			padding-top: 70%;
		}

		@media(max-width: $md4 + px) {
			padding-top: 100%;
		}
	}
}
.social {
	display: flex;

	// .social__item

	&__item:not(:last-child) {
		margin-right: 20px;
	}

	// .social__link

	&__link {
		display: block;
		width: 22px;
		height: 22px;
	}
}
