.rooms {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 5px;
		left: 0;
		display: block;
		width: 484px;
		height: 151px;
		background: url('../img/icons/bg/rooms-fish-bg.svg') no-repeat;

		@media(max-width: $md2 + px) {
			display: none;
		}
	}

	// .rooms__slider

	&__slider {
		max-width: 1228px;
	}

	// .rooms__slide

	&__slide {
		padding: 70px 30px 70px 168 / 1228 * 100%;
		width: 100%;
		display: flex;
		align-items: center;

		@media(max-width: $md2 + px) {
			flex-wrap: wrap;
			justify-content: center;
			padding: 50px 15px;
		}

		@media(max-width: $md3 + px) {
			padding: 20px 15px 35px;
		}
	}

	// .rooms__img

	&__img {
		flex: 0 1 600px;
		position: relative;
		z-index: -1;
		padding-bottom: 38.6%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	// .rooms__content

	&__content {
		flex: 0 1 500px;
		margin-left: -70px;
		padding: 40px 30px 40px 100 / 1030 * 100%;
		background: #FFFFFF;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
		border-radius: 8px;

		@media(max-width: $md2 + px) {
			margin: -30px 0 0;
			padding: 20px 30px;
		}

		@media(max-width: $md4 + px) {
			margin: 0;
		}
	}

	// .rooms__list

	&__list {
		margin: 30px 0;

		@media(max-width: $md2 + px) {
			margin: 15px 0;
		}
	}

	// .rooms__item

	&__item {
		margin-bottom: 20px;
		padding-left: 21px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background-color: #FAC663;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media(max-width: $md2 + px) {
			margin-bottom: 10px;
		}
	}
}

.rooms,
.reviews {

	//rooms__pagination

	&__pagination {
		display: flex;
		position: absolute;
		left: 50%;
		bottom: 15px;
		transform: translateX(-50%);

		.swiper-pagination-bullet {
			display: block;
			width: 12px;
			height: 12px;
			margin-right: 12px;
			border-radius: 50%;
			background: #E1E1E1;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}

			&-active {
				background: #FAC663;
			}
		}

		@media(max-width: $md3 + px) {
			bottom: 0;
		}
	}

	// .rooms__btn

	&__btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		right: 168px;
		bottom: 0;
		background: #FFFFFF;
		border-radius: 50%;
		box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
		cursor: pointer;

		&::before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			background: url('../img/icons/btn-next.svg') center no-repeat;

		}

		// .rooms__btn_prev

		&_prev {
			right: 214px;

			&::before {
				background: url('../img/icons/btn-prev.svg') center no-repeat;
			}
		}

		@media(max-width: $md2 + px) {
			display: none;
		}
	}
}
